{% extends "base.html" %} 
{% load static %}
{% load cart_tools %} 
{% block extra_title %}Shopping Cart{% endblock %}
{% block content %}
    <div class="container">
        <div class="row">
            <div class="col text-center mt-4">
                <h1>Your Cart</h1>
            </div>
        </div>
        <div class="row">
            <div class="col">
            {% if cart_items %}
                <table class="table">
                    <thead>
                    <tr class="text-center">
                        <th scope="col">Product</th>
                        <th scope="col"></th>
                        <th scope="col">Quantity</th>
                        <th scope="col">Total</th>
                    </tr>
                    </thead>
                    <tbody>
                        {% for item in cart_items %}
                            <tr>
                                <td colspan= "2">
                                    <div class="media">
                                        <img src="{{ item.product.image.url }}" class="align-self-center mr-3 img-thumbnail" alt="{{ item.product.name }}">
                                        <div class="media-body my-auto">
                                          <h5><a href="{% url 'product_details' item.product.id %}">{{ item.product.name}}</a></h5>
                                          <p>${{ item.product.price }}</p>
                                        </div>
                                      </div>
                                </td>
                                <td class="text-center">
                                    <form class="form" action="{% url 'update_quantity' item.product.id %}" method="POST">
                                        {% csrf_token %}
                                        <div class="form-group">
                                            <input class="form-control quantity-input" type="number" name="quantity" value="{{ item.quantity }}" min="1" max="99">
                                        </div>
                                        <input type="submit" class="btn btn-link text-muted mt-1" value="Update">
                                        <input type="hidden" name="redirect_url" value="{{ request.path }}">
                                    </form>
                                </td>
                                <td>
                                    <p class="mt-2">${{ item.product.price | calculate_subtotal:item.quantity }}</p>
                                    <form class="form" action="{% url 'remove_from_cart' item.product.id %}" method="POST">
                                        {% csrf_token %}
                                        <input type="submit" class="btn text-danger btn-link mt-2" value="Remove">
                                        <input type="hidden" name="redirect_url" value="{{ request.path }}">
                                    </form>
                                </td>
                            </tr>
                        {% endfor %}
                        <tr>
                            <td colspan= "4" class="text-right">
                                <p>Subtotal: ${{ total|floatformat:2 }}</p>
                                <p>Shipping: ${{ shipping|floatformat:2 }}</p>
                                <p>Total: ${{ grand_total|floatformat:2 }}</p>
                                {% if free_shipping_delta != 0 %}
                                    <p>
                                        Spend ${{ free_shipping_delta|floatformat:2 }} more to get free shipping!
                                    </p>
                                {% endif %}
                            </td>
                        </tr>
                        <tr>
                            <td colspan="4">
                                <div class="float-left">
                                    <a class="btn btn-sm btn-outline-secondary" href="{% url 'products' %}"><i class="fas fa-arrow-circle-left"></i> Keep Shopping</a>
                                </div>
                                <div class="float-right">
                                    <a href="{% url 'checkout' %}" class="btn btn-outline-secondary btn-lg mt-2">
                                            Secure Checkout <i class="fas fa-lock"></i>
                                    </a>
                                </div>
                                
                            </td>
                        </tr>
                    </tbody>
                </table>
            {% else %}
                <h4>Your cart is empty.</h4>
                <p>
                    <a class="btn btn-sm btn-outline-secondary" href="{% url 'products' %}"
                    ><i class="fas fa-arrow-circle-left"></i> Start shopping</a
                    >
                </p>
            {% endif %}
            </div>
        </div>
    </div>
{% endblock %}
