{% extends "base.html" %}
{% load static %}
{% block extra_title %}Home{% endblock %}
{% block content %}
    <div class="container-fluid">
      <section id="homepage-carousel">
        <div id="carouselIndicators" class="carousel slide" data-ride="carousel">
            <ol class="carousel-indicators">
              <li data-target="#carouselIndicators" data-slide-to="0" class="active"></li>
              <li data-target="#carouselIndicators" data-slide-to="1"></li>
              <li data-target="#carouselIndicators" data-slide-to="2"></li>
            </ol>
            <div class="carousel-inner">
              <div class="carousel-item active">
                <a href="{% url 'products' %}"><img src="{{ MEDIA_URL }}homepage_carousel1.png" class="d-block w-100" alt="V Choco"></a>
              </div>
              <div class="carousel-item">
                <a href="{% url 'products' %}?category=bonbon_boxes"><img src="media/homepage_carousel2.png" class="d-block w-100" alt="Bonbons"></a>
              </div>
              <div class="carousel-item">
                <a href="{% url 'products' %}?category=seasonal_products"><img src="media/homepage_carousel3.png" class="d-block w-100" alt="Subscribe"></a>
              </div>
            </div>
            <a class="carousel-control-prev" href="#carouselIndicators" role="button" data-slide="prev">
              <span class="carousel-control-prev-icon" aria-hidden="true"></span>
              <span class="sr-only">Previous</span>
            </a>
            <a class="carousel-control-next" href="#carouselIndicators" role="button" data-slide="next">
              <span class="carousel-control-next-icon" aria-hidden="true"></span>
              <span class="sr-only">Next</span>
            </a>
          </div> 
        </section>
        <section>
          <div class="row mt-2 mb-2">
            <div class="col-10 col-md-6 mx-auto">
              <img src="/media/vegan-infographic.png" class="d-block w-100" alt="Vegan infographic">
            </div>
            <div class="col-10 col-md-6 mx-auto text-center my-auto">
              <img src="/media/bonbon-homepage.png" class="d-block w-100" alt="V Choco">
              <h1><strong>Coming Soon!</strong></h1>
              <hr>
              <h2>Create your own box and get a 15% discount.</h2>
              <hr>
              <h5>Subscribe to our newsletter to be the first to hear when it's available!</h5>
              <form class="form-inline my-3" action="{% url 'home' %}" method="POST">
                {% csrf_token %}
                <div class="form-group text-center mx-auto">
                    {{ form|crispy }}
                    <input type="submit" value="Subscribe" class="submit btn btn-outline-secondary">
                </div>
              </form>
              <img src="/media/bonbon-homepage-2.png" class="d-block w-100 mb-5" alt="V Choco">
                <div id="carouselReviewIndicators" class="carousel slide review-carousel bg-pink" data-ride="carousel">
                  <ol class="carousel-indicators">
                    <li data-target="#carouselReviewIndicators" data-slide-to="0" class="active"></li>
                    <li data-target="#carouselReviewIndicators" data-slide-to="1"></li>
                    <li data-target="#carouselReviewIndicators" data-slide-to="2"></li>
                    <li data-target="#carouselReviewIndicators" data-slide-to="3"></li>
                    <li data-target="#carouselReviewIndicators" data-slide-to="4"></li>
                  </ol>
                  <div class="carousel-inner">
                    <div class="carousel-item active">
                      <h3 class="mt-5 font-italic">Testimonials</h3>
                      <h4 class="mx-3 mb-3 mt-3">See what our customers have to say about our products!</h4>
                      <h5><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i> </h5>
                    </div>
                    {% for review in reviews.all %}
                      {% if forloop.counter <= 5 %}
                        <div class="carousel-item">
                          <div class="row mt-5">
                            <div class="col-4">
                              <img src="{{ review.product.image.url }}" alt="{{ review.product }}">
                            </div>
                            <div class="col-8 my-auto">
                                <h4> {{ review.product }}</h4>
                                <h5><i class="fas fa-star"></i> </strong> {{ review.rating }} / 5</h5>
                                <p class="mx-5 mt-3">{{ review.content }}</p>
                            </div>
                          </div>
                        </div>
                      {% endif %}
                    {% endfor %}
                  </div>
                  <a class="carousel-control-prev" href="#carouselReviewIndicators" role="button" data-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="sr-only">Previous</span>
                  </a>
                  <a class="carousel-control-next" href="#carouselReviewIndicators" role="button" data-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="sr-only">Next</span>
                  </a>
                </div>
              </div>
            </div>
        </section>
        <section class="newsletter bg-light pb-5">    
          <div class="row">
            <div class="col-12 col-md-5 text-center my-auto">
              <h2 class="mt-5">Subscribe to our Newsletter!</h2>
              <hr class="d-md-none">
            </div>
            <div class="col-8 col-md-7 mt-md-5 mx-auto">
              <h5 class="text-center">Sign up to be the first to hear about exclusive offers and our latest deals.</h5>
              <form class="form-inline" action="{% url 'home' %}" method="POST">
                {% csrf_token %}
                <div class="form-group text-center mx-auto">
                    {{ form|crispy }}
                    <input type="submit" value="Subscribe" class="submit btn btn-outline-secondary">
                </div>
              </form>
            </div>
          </div>
        </section>
    </div>
{% endblock %}