{% extends "base.html" %} 
{% load static %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'profiles/css/profile.css' %}">
{% endblock %}
{% block extra_title %}Profile{% endblock %}
{% block content %}
    <div class="container">
        <div class="row">
            <div class="col text-center my-4">
                <h1>Account Details and Order History</h1>
                <hr>
            </div>
        </div>
        <div class="row">
            <!--- Start of Col 1: Default Shipping Details -->
            <div class="col-12 col-lg-6">
                <p>Your current shipping address</p>
                <form class="mt-2" action="{% url 'profile' %}" method="POST" id="profile-update-form">
                    {% csrf_token %}
                    {{ form|crispy }}
                    <button class="btn btn-outline-secondary float-right">Update Address</button>
                </form>
            </div>
            <!-- End of Col 1: Default Shipping Details -->
            <!-- Start of Col 2: Past Orders -->
            <div class="col-12 col-lg-6">
                <p>Your Past Orders</p>
                <div class="order-history table-responsive">
                    <table class="table table-borderless table-hover">
                        <thead>
                            <tr>
                                <th scope="col">Date</th>
                                <th scope="col">Order Number</th>
                                <th scope="col">Total</th>
                              </tr>
                        </thead>
                        <tbody>
                            {% for order in orders %}
                                <tr>
                                    <td>{{ order.date }}</td>
                                    <td>
                                        <a href="{% url 'order_history' order.order_number %}" title="{{ order.order_number }}">
                                            {{ order.order_number|truncatechars:8 }}
                                        </a>
                                    </td>
                                    <td>$ {{ order.grand_total }}</td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
            <!-- End of Col 2: Past Orders -->
        </div>
    </div>
{% endblock %}