{% extends "base.html" %} 
{% load static %}
{% load cart_tools %} 

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'checkout/css/checkout.css' %}">
{% endblock %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col text-center mt-4">
                <h1>Check Out</h1>
            </div>
        </div>
        <div class="row">
            <div class="col-12 col-lg-7">
                <form action="{% url 'checkout' %}" method="POST" id="checkout-form">
                    {% csrf_token %}
                    <fieldset>
                        <legend class="fieldset-label">Contact Information</legend>
                        {% if not user.is_authenticated %}
                            <div class="form-check form-check-inline float-right text-muted mb-1">
                              Already have an account?<a class="text-black ml-1" href="{% url 'account_login' %}"> Log in</a>
                            </div>
                        {% endif %}
                        {{ order_form.email | as_crispy_field }}
                        {{ order_form.phone_number | as_crispy_field }}
                    </fieldset>
                    <fieldset>
                        <legend class="fieldset-label">Shipping Address</legend>
                        {{ order_form.full_name | as_crispy_field }}
                        {{ order_form.street_address1 | as_crispy_field }}
                        {{ order_form.street_address2 | as_crispy_field }}
                        {{ order_form.town_or_city | as_crispy_field }}
                        {{ order_form.postcode | as_crispy_field }}
                        {{ order_form.county | as_crispy_field }}
                        {{ order_form.country | as_crispy_field }}
                        <div class="form-check form-check-inline float-right">
							{% if user.is_authenticated %}
								<label class="form-check-label" for="id-save-info">	Save this information for next time</label>
                                <input class="form-check-input" type="checkbox" id="id-save-info" name="save-info" checked>
							{% else %}
								<label class="form-check-label text-muted" for="id-save-info">
                                    <a class="text-black" href="{% url 'account_signup' %}">Create an account</a> to save this information 
                                </label>
							{% endif %}
						</div>
                    </fieldset>
                    <fieldset>
                        <legend class="fieldset-label">Payment</legend>
                        <!-- Stripe card element -->
                        <div id="card-element"></div>
                        <!-- Will display card errors -->
                        <div class="text-danger" id="card-errors" role="alert"></div>
                        <!-- Passes client secret ID to view in order to get intent id -->
                        <input type="hidden" value="{{ client_secret }}" name="client_secret">
                    </fieldset>
                    <div class="float-left my-3">
                        <a class="btn btn-sm btn-outline-secondary" href="{% url 'view_cart' %}"><i class="fas fa-arrow-circle-left"></i> Return to Cart</a>
                    </div>
                    <div class="float-right my-3 submit-button">
                        <button href="{% url 'checkout' %}" id="submit-button" class="btn btn-outline-secondary btn-lg">
                                Submit Order <i class="fas fa-lock"></i>
                        </button>
                        <button class="btn btn-outline-secondary btn-lg" type="button" disabled id="loading-button">
                            <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
                            Processing ...
                          </button>
                    </div>
                </form>
            </div>
            <div class="d-none d-lg-block col-lg-5 mt-4">
                <h4 class="mb-5 text-center">Your Order Summary</h4>
                {% for item in cart_items %}
                    <div class="row my-2">
                        <div class="col-2">
                            <a href="{% url 'product_details' item.product.id %}">
                                <img class="w-100" src="{{ item.product.image.url }}" alt="{{ product.name }}">
                            </a>
                        </div>
                        <div class="col-7">
                            <p class="my-0"><strong>{{ item.product.name }}</strong></p>
                            <p class="small text-muted my-0">Quantity: {{ item.quantity }}</p>
                        </div>
                        <div class="col-3">
                            <p class="small text-muted my-auto text-right">${{ item.product.price | calculate_subtotal:item.quantity }}</p>
                        </div>
                    </div>
                {% endfor %}
                <hr>
                <div class="row text-left">
                    <div class="col-7">
                        <p class="my-0">Subtotal:</p>
                        <p class="my-0">Shipping:</p>
                    </div>
                    <div class="col-5 text-right">
                        <p class="my-0">${{ total | floatformat:2 }}</p>
                        <p class="my-0">${{ shipping | floatformat:2 }}</p>
                    </div>
                </div>
                <hr>
                <div class="row text-left">
                    <div class="col-7">
                        <p>Total:</p>
                    </div>
                    <div class="col-5 text-right">
                        <p class="my-0"><strong>${{ grand_total | floatformat:2 }}</strong></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div>

    </div>
{% endblock %}

{% block postloadjs %}
    {{ block.super }}
    {{ stripe_public_key|json_script:"id_stripe_public_key" }}
    {{ client_secret|json_script:"id_client_secret" }}
    <script src="{% static 'checkout/js/stripe_elements.js' %}"></script>
{% endblock %}