@import url('https://fonts.googleapis.com/css2?family=Karla:ital,wght@0,400;0,700;1,400;1,700&display=swap');

html {
    height: 100%
}

/* Sitewide styling */

body {
    height:100vh;
    color: #545454;
    font-family: 'Karla', sans-serif;
}

a {
    color: #545454;
}

a:hover {
    color: #CDCDCD;
    text-decoration: none;
}

.small a {
    color: #CDCDCD;
}

.small a:hover {
    color: #545454;
}

/* Free shipping banner */

#free-shipping-banner {
    background-color: #8ecbb5;
    color: white;
    font-weight: 400;
    margin-left: auto;
    margin-right: auto;
}

/*Navigation bar */
#nav {
    background-color: #2caead;
    width: 100%;
}

.dropdown-menu {
    background-color: #2caead;
}

.dropdown-menu a:hover {
    background-color: #2caead;
    color: #8ecbb5;
}

#nav a {
    color: white;
}

#nav a:hover {
    color: #8ecbb5;
}

.navbar .navbar-toggler-icon {
    background-image: url('https://mdbootstrap.com/img/svg/hamburger2.svg?color=fff');
}

.navbar-toggler,
.navbar-toggler:focus,
.navbar-toggler:active,
.navbar-toggler-icon:focus {
    outline: none;
    border: none;
    box-shadow: none;
}

/* Buttons */
.btn-outline-light:hover {
    color: #2caead;
}

.btn-outline-secondary {
    color: #545454;
}

.btn-outline-secondary:hover {
    color: white;
    background-color: #CDCDCD;
    border: none;
}

/* Products Page */

#product-card {
    background-color: #fc7cbd;
}

.card-text {
    position: relative;
}

.card-title, #plus-button {
    height: 70px;
    width: 70px;
    display: table-cell;
    text-align: center;
    vertical-align: middle;
    border-radius: 50%;
    background: #fc7cbd;
  }

/* Code to create overlay adapted from W3schools */
#plus-button {
    transition: .5s ease;
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
  }

#plus-text {
    font-weight: 800;
    color: white;
}

#plus-text:hover {
    text-decoration: none;
    color: white;
}

#plus-button:hover {
    background-color: #CDCDCD;
}

#product-card:hover img {
    opacity: 0.4;
}

#product-card:hover #plus-button {
    opacity: 1;
}

/* Product Details Page */

.quantity-input {
    background-color: white;
    border: none;
    max-width: 10em;
    font-weight: 900;
    text-align: center;
}

.quantity {
        color: #000;
        font-size: 25px;
        font-weight: 700;
        line-height: 30px;
        width: 5em;
}

.quantity .plus, .quantity .minus {
    cursor: pointer;
    display: inline-block;
    vertical-align: center;
    color: #fc7cbd;
    width: 30px;
    height: 30px;
    }

.plus:hover,
.minus:hover {
    color: #CDCDCD;
}

/* Shopping Cart Page */

.img-thumbnail {
    border-radius: 50%;
    width: 30%;
}