@import url('https://fonts.googleapis.com/css2?family=Karla:ital,wght@0,400;0,700;1,400;1,700&display=swap');

html {
    height: 100%
}

/* Sitewide styling */

body {
    height:100vh;
    color: #545454;
    font-family: 'Karla', sans-serif;
}

/*Navigation bar */
#nav {
    background-color: #2caead;
}

.dropdown-menu {
    background-color: #2caead;
}

.dropdown-menu a:hover {
    background-color: #2caead;
    color: #8ecbb5;
}

#nav a {
    color: white;
}

#nav a:hover {
    color: #8ecbb5;
}

.navbar .navbar-toggler-icon {
    background-image: url('https://mdbootstrap.com/img/svg/hamburger2.svg?color=fff');
}

.navbar-toggler,
.navbar-toggler:focus,
.navbar-toggler:active,
.navbar-toggler-icon:focus {
    outline: none;
    border: none;
    box-shadow: none;
}

/* Buttons */
.btn-outline-light:hover {
    color: #2caead;
}

/* Products Page */

#product-card {
    background-color: #fc7cbd;
}

.card-text {
    position: relative;
}

.card-title, #plus-button {
    height: 70px;
    width: 70px;
    display: table-cell;
    text-align: center;
    vertical-align: middle;
    border-radius: 50%;
    background: #fc7cbd;
  }

/* Code to create overlay adapted from W3schools */
#plus-button {
    transition: .5s ease;
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
  }

#plus-text {
    font-weight: 800;
    color: white;
}

#plus-text:hover {
    text-decoration: none;
    color: white;
}

#product-card:hover img {
    opacity: 0.4;
}

#product-card:hover #plus-button {
    opacity: 1;
}