{% load static %}

<!doctype html>
<html lang="en">
  <head>

    {% block meta %}
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    {% endblock %}

    {% block extra_meta %}
    {% endblock %}

    {% block corecss %}
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <link rel="stylesheet" href="{% static 'css/base.css' %}">
    {% endblock %}

    {% block extra_css%}
    {% endblock %}

    {% block corejs %}
        <script src="https://kit.fontawesome.com/7f61f2d383.js" crossorigin="anonymous"></script>
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    {% endblock %}

    {% block extra_js %}
    {% endblock %}

    <title>V-Choco {% block extra_title %} {% endblock %}</title>
  </head>
  <body>
<header class="container-fluid">
        <nav id="nav" class="navbar navbar-white">
          <a class="navbar-brand" href="{% url 'home' %}">
            <img src="{% static '/images/vchoco-logo.png' %}" height="30" alt="V-Choco logo">
          </a>
          <div class="navbar-nav dropdown ml-auto">
              <a class="{% if grand_total %}text-info font-weight-bold{% endif %} nav-link" href="">
                  <div>
                      <p><i class="fas fa-shopping-cart fa-lg mr-2"></i>
                          {% if grand_total %}
                              ${{ grand_total|floatformat:2 }}
                          {% else %}
                              $0.00
                          {% endif %}
                      </p>
                  </div>
              </a>
            </div> 
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggler"
            aria-controls="navbarToggler" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
          <div class="collapse navbar-collapse" id="navbarToggler">
            <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
              <li class="nav-item dropdown">
                <a class="nav-link" href="#" id="navbar-products" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  <div>Products</div>
                </a>
                <div class="dropdown-menu border-0" aria-labelledby="navbar-products">
                  <a href="{% url 'products' %}" class="dropdown-item">All Products</a>
                  <a href="" class="dropdown-item">Seasonal Selections</a>
                  <a href="" class="dropdown-item">Bonbons</a>
                </div>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">Build Your Box</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">Subscription Box</a>
              </li> 
              <li class="nav-item dropdown">
                <a class="nav-link" href="#" id="user-options" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  <div><i class="fas fa-user fa-lg mr-2"></i> My Account</div>
                </a>
                <div class="dropdown-menu border-0" aria-labelledby="user-options">
                  {% if request.user.is_authenticated %}
                      {% if request.user.is_superuser %}
                          <a href="" class="dropdown-item">Product Management</a>
                      {% endif %}
                      <a href="" class="dropdown-item">My Profile</a>
                      <a href="{% url 'account_logout' %}" class="dropdown-item">Logout</a>
                  {% else %}
                      <a href="{% url 'account_signup' %}" class="dropdown-item">Register</a>
                      <a href="{% url 'account_login' %}" class="dropdown-item">Login</a>
                  {% endif %}
                </div>
            </li>
          </ul>
          <form class="form-inline" method="GET" action="">
            <input class="form-control mr-sm-2" type="text" name="q" placeholder="Search">
            <button class="btn btn-sm btn-outline-light form-control" type="submit"><i class="fas fa-search"></i></button>
          </form>
          </div>
        </nav>
      </header>

      {% if messages %}
        <div class="alerts-container"></div>
      {% endif %}

      {% block page_header %}
      {% endblock %}

      {% block content %}
      {% endblock %}

      {% block postloadjs %}
      {% endblock %}
  </body>
</html>