{% extends "base.html" %}
{% load static %}

{% block content %}
   <div class="container-fluid">
       <div class="row">
           <div class="col text-center mt-4">
               <h2>Products</h2>
               <hr>
           </div>
       </div>
       <div class="row justify-content-center">
           {% for product in products %}
                <div class="col-sm-8 col-md-6 col-lg-3">
                    <div id="product-card" class="card text-white mb-3">
                        <a href="#">
                            <img src="{{ product.image.url }}" class="card-img" alt="{{ product.name }}">
                        </a>
                        <div class="card-img-overlay">
                          <h5 class="card-title">$ {{ product.price }}</h5><br><br>
                          <div id="plus-button">
                            <h5 class="card-text"><br><a href="{% url 'product_details' product.id %}" id="plus-text">+</a></h5>
                        </div>
                        </div>
                        <h5 class="card-footer text-center mb-0">{{ product.name }}</h5>
                      </div>
                </div>
           {% endfor %}
       </div>
   </div>
{% endblock %}