{% extends "base.html" %}
{% load static %}

{% block content %}
   <div class="container-fluid">
       <div class="row mt-3">
           <div class="col text-left">
                <a class="btn btn-sm btn-outline-secondary" href="{% url 'products' %}"><i class="fas fa-arrow-circle-left"></i> Back To All Products</a>
           </div>
       </div>
       <div class="row justify-content-center mt-3">
        <div class="col-8 col-md-4">
            <img class="img-fluid" src="{{ product.image.url }}" alt="{ product.name }}">
        </div>
        <div class="col-12 col-md-6 text-center mt-2">
            <h4>{{ product.name }}</h4>
            <p class="small">
                <a href="{% url 'products' %}?category={{ product.category.name }}">
                    {{ product.category.friendly_name }}</a>
            </p>
            <h5>$ {{ product.price }}</h5>
            <form class="form" action="{% url 'add_to_cart' product.id %}" method="POST">
                {% csrf_token %}
                <div class="form-group">
                    <input class="form-control text-center quantity-input mx-auto" type="number" name="quantity" value="1" min="1" max="99" data-item_id="{{ product.id }}" id="id_qty_{{ product.id }}">
                </div>
                <input type="submit" class="btn btn-outline-secondary text-uppercase my-2" value="Add to Cart">
                <input type="hidden" name="redirect_url" value="{{ request.path }}">
            </form>
            <p>{{ product.description }}</p>
        </div>
       </div>
   </div>
{% endblock %}
{% block postloadjs %} 

{% endblock %}