{% extends "base.html" %}
{% load static %}

{% block content %}
   <div class="container-fluid">
       <div class="row mt-3">
           <div class="col text-left">
                <a class="btn btn-sm btn-outline-secondary" href="{% url 'products' %}"><i class="fas fa-arrow-circle-left"></i> Back To All Products</a>
           </div>
       </div>
       <div class="row justify-content-center mt-3">
        <div class="col-8 col-md-4">
            <img class="img-fluid" src="{{ product.image.url }}" alt="{ product.name }}">
        </div>
        <div class="col-12 col-md-6 text-center mt-2">
            <h4>{{ product.name }}</h4>
            <p class="small">
                <a href="{% url 'products' %}?category={{ product.category.name }}">
                    {{ product.category.friendly_name }}</a>
            </p>
            <h5>$ {{ product.price }}</h5>
            <form class="form" action="{% url 'add_to_cart' product.id %}" method="POST">
                {% csrf_token %}
                <div class="form-group">
                    <input class="form-control text-center quantity-input mx-auto" type="number" name="quantity" value="1" min="1" max="99">
                </div>
                <input type="submit" class="btn btn-outline-secondary my-2" value="Add to Cart">
                <input type="hidden" name="redirect_url" value="{{ request.path }}">
            </form>
            <p>{{ product.description }}</p>
            {% if request.user.is_superuser %}
            <p class="text-center text-small">
                <a href="{% url 'edit_product' product.id %}">Edit</a> | 
                <a class="text-danger" href="{% url 'delete_product' product.id %}">Delete</a>
            </p>
            {% endif %}
        </div>
       </div>
       <div class="row">
           <hr>
            <div class="col-12">
                <h3>Reviews</h3>
                <hr>
                {% for review in product.reviews.all %}
                    <p>
                        <strong>Date: </strong> {{ review.timestamp}},
                        <strong>Rating: </strong> {{ review.rating }}
                    </p>
                    {{ review.content }}
                    {% empty %}
                        <p>No reviews for this product.</p>
                {% endfor %}
            </div>
            <div class="col-12">
                {% if request.user.is_authenticated %}
                    <form method="POST" action="" class="form">
                        {% csrf_token %}
                        {{ form | crispy }}
                        <div class="text-right">
                            <button class="btn btn-outline-secondary float-right" type="submit">Add Review</button>
                        </div>
                    </form>
                {% else %}
                    <p>Please sign in to write a review.</p>
                {% endif %}
            </div>
       </div>
   </div>
{% endblock %}
